.background-info{
background-color:#fceae8;
}
.categories img{
    width: 100px;
}
.panda-btn{
    color: whitesmoke;
    background-color: #ff418c;
}
.slide-price{
    color:#ff418c;
}
.ctg-watch{
    background: #ffa500;
}
.ctg-bag{
    background: #da70d6;
}
.ctg-shoes{
    background: #0000ff;
}